@using OrchardCore.ContentManagement
@using DFC.ServiceTaxonomy.GraphSync.GraphSyncers.Helpers
@model TriggerSyncValidationViewModel

@if (Model.ValidateAndRepairResult != null)
{
    bool validations = Model.ValidateAndRepairResult.Validated.Any();
    bool validationFailures = Model.ValidateAndRepairResult.ValidationFailures.Any();

    if (!validations && !validationFailures)
    {
        <div class="display-4 text-center">No new or modified content items since</div>
        <div class="display-4 text-center">@Model.ValidateAndRepairResult.LastSync.ToString("f")</div>

        ShowThumb(true);
    }
    else
    {
        @* todo move out? *@
        <style>
            #results > .list-group > .list-group-item {
                padding-left: 2em;
            }

            #results > .list-group > .list-group > .list-group-item{
                padding-left: 4em;
            }
        </style>

        @*should be h1, but then ".ta-content h1" takes precedence over display-1*@
        <div class="display-4 text-center">All new or modified content items since</div>
        <div class="display-4 text-center">@Model.ValidateAndRepairResult.LastSync.ToString("f")</div>

        <div class="display-1 text-center">Validated</div>
        ShowThumb(!validationFailures);

        if (validationFailures)
        {
            <div class="display-1 text-center">Repaired</div>
            ShowThumb(!Model.ValidateAndRepairResult.RepairFailures.Any());
        }

        // would have thought that embedded ul should be wrapped in li, but that doesn't seem to work -> check other browsers
        <ul id="results" class="list-group">

            <li href="#validated" class="list-group-item d-flex justify-content-between align-items-center" data-toggle="collapse">
                <span><i class="fas fa-chevron-right fa-fw"></i> Validated</span>
                <span class="badge badge-pill badge-primary">@Model.ValidateAndRepairResult.Validated.Count</span>
            </li>
            <ul class="list-group collapse" id="validated">
                @foreach (ContentItem contentItem in Model.ValidateAndRepairResult.Validated)
                {
                    <li href="#" class="list-group-item d-flex justify-content-between align-items-center">@contentItem.ContentType @contentItem.ContentItemId</li>
                }
            </ul>

            <li href="#failed-validation" class="list-group-item d-flex justify-content-between align-items-center" data-toggle="collapse">
                <span><i class="fas fa-chevron-right fa-fw"></i> Failed Validation</span>
                <span class="badge badge-pill badge-primary">@Model.ValidateAndRepairResult.ValidationFailures.Count</span>
            </li>
            <ul class="list-group collapse" id="failed-validation">
                @foreach (ValidationFailure validationFailure in Model.ValidateAndRepairResult.ValidationFailures)
                {
                    <li href="#valfail-@validationFailure.ContentItem.ContentItemId" class="list-group-item d-flex justify-content-between align-items-center" data-toggle="collapse">
                        @* todo: user id in results *@
                        <span><i class="fas fa-chevron-right fa-fw"></i> @validationFailure.ContentItem.ContentType @validationFailure.ContentItem.ContentItemId @@ endpoint @validationFailure.Endpoint</span>
                    </li>

                    <ul class="list-group collapse" id="valfail-@validationFailure.ContentItem.ContentItemId">
                        <li href="#" class="list-group-item d-flex justify-content-between align-items-center"><pre><code>@validationFailure.Reason</code></pre></li>
                    </ul>
                }
            </ul>

            <li href="#repaired" class="list-group-item d-flex justify-content-between align-items-center" data-toggle="collapse">
                <span><i class="fas fa-chevron-right fa-fw"></i> Repaired</span>
                <span class="badge badge-pill badge-primary">@Model.ValidateAndRepairResult.Repaired.Count</span>
            </li>
            <ul class="list-group collapse" id="repaired">
                @foreach (ContentItem contentItem in Model.ValidateAndRepairResult.Repaired)
                {
                <li href="#" class="list-group-item d-flex justify-content-between align-items-center">@contentItem.ContentType @contentItem.ContentItemId</li>
                }
            </ul>

            <li href="#repair-failed" class="list-group-item d-flex justify-content-between align-items-center" data-toggle="collapse">
                <span><i class="fas fa-chevron-right fa-fw"></i> Repair Failed</span>
                <span class="badge badge-pill badge-primary">@Model.ValidateAndRepairResult.RepairFailures.Count</span>
            </li>
            <ul class="list-group collapse" id="repair-failed">
                @foreach (RepairFailure repairFailure in Model.ValidateAndRepairResult.RepairFailures)
                {
                    <li href="repfail-@repairFailure.ContentItem.ContentItemId" class="list-group-item d-flex justify-content-between align-items-center" data-toggle="collapse">
                        @* todo: user id in results *@
                        <span><i class="fas fa-chevron-right fa-fw"></i> @repairFailure.ContentItem.ContentType @repairFailure.ContentItem.ContentItemId</span>
                    </li>

                    <ul class="list-group collapse" id="repfail-@repairFailure.ContentItem.ContentItemId">
                        <li href="#" class="list-group-item d-flex justify-content-between align-items-center"><pre><code>@repairFailure.Reason</code></pre></li>
                    </ul>
                }
            </ul>
        </ul>

        <script at="Foot" depends-on="admin, jquery">
            $('.list-group-item').on('click', function() {
              $(this).find('svg').toggleClass('fa-chevron-right fa-chevron-down');
            });
        </script>
    }
}

@functions
{
    public void ShowThumb(bool up)
    {
        if (up)
        {
            <div class="display-1 text-center"><i class="far fa-thumbs-up"></i></div>
        }
        else
        {
            <div class="display-1 text-center"><i class="far fa-thumbs-down"></i></div>
        }
    }
}
