@model DFC.ServiceTaxonomy.ContentApproval.ViewModels.ContentApprovalPartViewModel

<div class="btn-group">
    <button class="btn btn-sm btn-success dropdown-toggle" dropdown-toggle" type="button" id="visualiseButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@T["Request review"]</button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="visualiseButton">
        @foreach (var reviewType in Model.ReviewTypes)
        {
            <a asp-action="RequestApproval"
               asp-controller="ContentApproval"
               asp-route-area="DFC.ServiceTaxonomy.ContentApproval"
               asp-route-contentItemId="@Model.ContentItemId"
               asp-route-reviewType="@reviewType.Key"
               asp-route-returnUrl="@FullRequestPath"
               class="dropdown-item btn-sm"><span>@T[reviewType.Value]</span></a>
        }
    </div>
</div>
