@using OrchardCore.ContentManagement
@using DFC.ServiceTaxonomy.GraphSync.Models
@inject IContentManager ContentManager

@{
    ContentItem contentItem = Model.ContentItem;
    var graphSyncPartText = contentItem.Content[nameof(GraphSyncPart)]?[nameof(GraphSyncPart.Text)].Value;
    var hasPublished = await ContentManager.HasPublishedVersionAsync(contentItem);
    //var previewId = Guid.NewGuid();
}

@*<a id="previewButton" target="_blank" class="publish-button btn btn-info" href="@Url.Action("Index", "Preview", new { area = "OrchardCore.ContentPreview", id = previewId })">@T["Preview"]</a>*@

@if (hasPublished && graphSyncPartText != null)
{
    <a asp-action="@nameof(DFC.ServiceTaxonomy.GraphVisualiser.Controllers.VisualiseController.Viewer)"
       asp-controller="Visualise"
       asp-area="@typeof(DFC.ServiceTaxonomy.GraphVisualiser.Startup).Namespace"
       asp-route-visualise="@graphSyncPartText"
       target="_blank"
       class="publish-button btn btn-info">@T["Visualise (last published)"]</a>
}

@*
<div id="renderPreviewUrl" style="display:none" data-value="@Url.Action("Render", "Preview", new { area = "OrchardCore.ContentPreview" })"></div>
<div id="contentItemType" style="display:none" data-value="@Model.ContentItem.ContentType"></div>
<div id="previewId" style="display:none" data-value="@previewId"></div>
<div id="previewContentItemId" style="display:none" data-value="@Model.ContentItem.ContentItemId"></div>
<div id="previewContentItemVersionId" style="display:none" data-value="@Model.ContentItem.ContentItemVersionId"></div>

<script asp-src="~/OrchardCore.ContentPreview/Scripts/contentpreview.edit.js" depends-on="admin" at="Foot"></script>
*@
