@using DFC.ServiceTaxonomy.ContentApproval.Models
@using DFC.ServiceTaxonomy.ContentApproval.Models.Enums
@using DFC.ServiceTaxonomy.CustomEditor.Configuration
@using DFC.ServiceTaxonomy.CustomEditor.Constants
@using DFC.ServiceTaxonomy.PageLocation.Models
@using OrchardCore.Contents
@using OrchardCore.ContentManagement
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Options

@inject IAuthorizationService AuthorizationService
@inject IOptions<PagesConfiguration> Config
@inject IContentManager ContentManager

@{
    ContentItem contentItem = Model.ContentItem;
    var PageConfig = Config.Value;
    var hasDraft = contentItem.HasDraft();
    var hasPublished = await ContentManager.HasPublishedVersionAsync(contentItem);
    var hasPublishPermission = await AuthorizationService.AuthorizeAsync(User, CommonPermissions.PublishContent, contentItem);
    var hasClonePermission = await AuthorizationService.AuthorizeAsync(User, CommonPermissions.CloneContent, contentItem);
    var hasViewPermission = await AuthorizationService.AuthorizeAsync(User, CommonPermissions.ViewContent, contentItem);
    var hasPreviewPermission = await AuthorizationService.AuthorizeAsync(User, CommonPermissions.PreviewContent, contentItem);
    var previewContentTypes = contentItem.ContentType == ContentTypes.Page; //contentItem.ContentType == ContentTypes.JobProfile ||

}
@* Publish - handle publish if content part not present in content item *@
@if (hasDraft && !contentItem.Has<ContentApprovalPart>())
{
    if (hasPublishPermission)
    {
        <a asp-action="Publish" asp-controller="Admin" asp-route-area="OrchardCore.Contents" asp-route-contentItemId="@contentItem.ContentItemId" asp-route-returnUrl="@FullRequestPath" data-url-af="UnsafeUrl" class="dropdown-item btn-sm">@T["Publish Draft"]</a>
        <div class="dropdown-divider"></div>
    }
}

@* Edit - handle edit dependent on whether content approval applies to content item *@
@if (contentItem.Has<ContentApprovalPart>())
{
    var isInReview = contentItem.As<ContentApprovalPart>()?.ReviewStatus == ReviewStatus.InReview;
    var hasEditPermission = await AuthorizationService.AuthorizeAsync(User, CommonPermissions.EditContent, contentItem) && User.HasClaim(c => c.Value == CommonPermissions.EditContent.Name);
    if (!isInReview && hasEditPermission)
    {
        <a asp-action="Edit" asp-controller="ContentApproval" asp-route-area="DFC.ServiceTaxonomy.ContentApproval" asp-route-contentItemId="@contentItem.ContentItemId" asp-route-returnUrl="@FullRequestPath" data-url-af="UnsafeUrl" class="dropdown-item btn-sm"><span>@T["Edit"]</span></a>
    }
}
else
{
    <a edit-for="@contentItem" asp-route-returnUrl="@FullRequestPath" data-url-af="UnsafeUrl" class="dropdown-item btn-sm">@T["Edit"]</a>
}

@* View draft/View published - View dependent on content type i.e. Page content types view through CUI apps *@

@if (previewContentTypes)
{
    string url = contentItem.Content[nameof(PageLocationPart)][nameof(PageLocationPart.FullUrl)];
    if (hasDraft && hasPreviewPermission)
    {
        <a href="@($"{PageConfig.PreviewAppPrefix}{url}")" target="_blank" class="dropdown-item btn-sm">@T["View draft"]</a>
    }
    if (hasPublishPermission && hasViewPermission && hasPublished)
    {
        <a href="@($"{PageConfig.PublishedAppPrefix}{url}")" target="_blank" class="dropdown-item btn-sm">@T["View published"]</a>
    }
}
else
{

    if (hasDraft && hasPreviewPermission)
    {
        <a asp-action="Preview" asp-controller="Item" asp-route-area="OrchardCore.Contents" asp-route-contentItemId="@contentItem.ContentItemId" target="_blank" class="dropdown-item btn-sm"><span>@T["View draft"]</span></a>
    }
    if (hasPublishPermission && hasViewPermission && hasPublished)
    {
        <a display-for="@contentItem" target="_blank" class="dropdown-item btn-sm" itemprop="">@T["View published"]</a>
    }
}

@*Clone - OOTB clone button remains in Actions menu*@
@if (hasClonePermission)
{
    <a asp-action="Clone" asp-controller="Admin" asp-route-area="OrchardCore.Contents" asp-route-contentItemId="@contentItem.ContentItemId" asp-route-returnUrl="@FullRequestPath" data-url-af="UnsafeUrl" class="dropdown-item btn-sm">@T["Clone"]</a>
}
