@model DiffItem
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <span class="diff-item-label">@Model.Name</span>
        </div>
        @if ((Model.BaseURLs != null && Model.BaseURLs.Any()) || (Model.CompareURLs != null && Model.CompareURLs.Any()))
        {
            <div class="col-4">
                @if (Model.CompareURLs != null)
                {
                    foreach (var url in Model.CompareURLs)
                    {
                        <div>
                            <a href="/Admin/VersionComparison/@url.Key">@url.Value</a>
                        </div>
                    }
                }
            </div>
            <div class="col-4">
                @if (Model.BaseURLs != null)
                {
                    foreach (var url in Model.BaseURLs)
                    {
                        <div>
                            <a href="/Admin/VersionComparison/@url.Key">@url.Value</a>
                        </div>
                    }
                }
            </div>
        }
        else
        {
            <div class="col-4">
                <span>@Model.CompareItem</span>
            </div>
            <div class="col-4">
                <span>@Model.BaseItem</span>
            </div>
        }
    </div>
</div>
