@model DFC.ServiceTaxonomy.Banners.ViewModels.BannerPartViewModel

<div class="form-group" asp-validation-class-for="WebPageName">
    <label asp-for="WebPageName">
        Webpage name
    </label>
    <p>
        <span class="hint">
            @T["Enter the name of the individual webpage or the parent webpage/section you are adding a banner to."]
        </span>
    </p>
    <input asp-for="WebPageName" class="form-control text-muted" placeholder="e.g. Careers advice" />
    <span asp-validation-for="WebPageName"></span>
</div>
<div class="form-group" asp-validation-class-for="WebPageURL">
    <label asp-for="WebPageURL">
        Enter a webpage location to display the banner(s)
    </label>
    <p>
        <span class="hint">
            @T["Copy and paste the National Careers Service website URL to define where to display the banners."]
        </span>
    </p>
    <p>
        <span class="hint">
            @T["To display banners across a whole section such as 'Careers advice', enter the parent location URL for this section."]<br />
            @T["e.g. nationalcareers.service.gov.uk/careers-advice. The banners will appear on every page within /careers-advice"]
        </span>
    </p>
    <p>
        <span class="hint">
            @T["Displaying or managing banners on an indiviual page is possible, but only if there are no further child pages nested within the location specified."]<br />
            @T["e.g. nationalcareers.service.gov.uk/careers-advice/advice-on-a-gap-year."]
        </span>
    </p>
    <input asp-for="WebPageURL" class="form-control text-muted" placeholder="e.g. nationalcareers.service.gov.uk/careers-advice" />
    <span asp-validation-for="WebPageURL"></span>
</div>
